
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=n3IZWU5871motmZVfsxP2Q==,TpGAJ95gsb+JjgJ+gma8hQ==,jEU7Wb7XlWwp43gNcm1YFA==,mFAiUq3Ua2xsLZdbR+J04Q==
API_TOKEN_SALT=OnFMG/WTRPVrJvrCrsA/vg==
ADMIN_JWT_SECRET=wm9jgia30lc7OvndOMFKow==
TRANSFER_TOKEN_SALT=NPhC61E+wGl8+2ETg+ujpw==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=chatbottele
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=R53kqp9LswA3JMtmmZbCPw==
